<div class="h-60 w-full rounded-lg bg-gray-lightest p-4 text-gray lg:w-80">
  <div class="flex items-center justify-between">
    <p class="text-base font-medium text-gray">My Cards</p>
    <div class="flex items-center justify-center gap-1 text-gray-500">
      <div class="text-sm font-medium">add card</div>
      <mat-icon
        class="text-base"
        style="display: flex; align-items: center; justify-content: center"
        >add</mat-icon
      >
    </div>
  </div>
  <div class="relative mt-2">
    <div class="relative z-10">
      <app-credit-card color="purple" />
    </div>
    <div class="absolute -right-8 top-5 w-full">
      <app-credit-card color="pink" />
    </div>
  </div>
</div>
